<script>var duoshuoQuery = {short_name: "<%= theme.duoshuo_short_name %>"};</script>
<article class="article">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="ds-thread text-center" data-thread-key="<%= date(post.date, "YYYYMMDD") %>" data-title="<%= post.title %>" data-url="<%= post.permalink %>">
        <a href="javascript:void(0);">Show Comments</a>
      </div>
    </div>
  </div>
</article>
