<div class="row">
  <div class="col-md-9">
    <%- partial('_partial/article', {post: page, index: false}) %>
  </div>
  <div class="col-md-3">
    <%- partial('_partial/snippet/sidebar') %>
  </div>
</div>
